<html>
    <head>
        <title>Fetch Admin Panel</title>
        <meta charset="UTF-8">
        <meta name="author" content="Jack Kolb">
    </head>

    <!-- import the Roboto font -->
    <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@100&display=swap" rel="stylesheet"> 

    <!-- import the style CSS -->
    <link rel="stylesheet" href="{{url_for('static', filename='css/styles.css')}}">

    <body>
        <div class="main" style="justify-content: space-evenly; align-items: center;">
            <div class="title">
                Fetch Admin Control Panel
            </div>

            <div id="marker-table"></div>

            <div class="content-container" style="margin: 0">
                <div id="state" class="content"></div>
                <div id="markers" class="content"></div>
            </div>

            <div class="content-container" style="margin: 0">
                <div id="new-user-button" onclick="newUser()" class="button" style="background-color: lightgrey;">
                    NEW USER
                </div>

                <div id="userId" class="content"></div>
                <div id="score" class="content"></div>

                <div class="content-container" style="margin: 0; gap: 0">
                    <div id="round" class="content"></div>
                    <div id="round-dec" onclick="prevRound()" class="button" style="background-color: lightgrey; width: 3vw">
                        -
                    </div>
                    <div id="round-inc" onclick="nextRound()" class="button" style="background-color: palegoldenrod; width: 3vw">
                        +
                    </div>
                </div>
            </div>

            <div class="content-container" style="margin: 0; gap: 0">
                <div id="penalties" class="content"></div>
                <div id="penalties-dec" onclick="decPenalties()" class="button" style="background-color: lightgrey; width: 3vw">
                    -
                </div>
                <div id="penalties-inc" onclick="incPenalties()" class="button" style="background-color: palegoldenrod; width: 3vw">
                    +
                </div>
            </div>

            <div class="content-container" style="margin: 0">
                <div id="reset-button" onclick="resetFetch()" class="button" style="background-color: lightpink;">
                    DISABLE FETCH
                </div>

                <div id="reset-flag" class="flag">OFF</div>

                <div id="reset-button" onclick="unresetFetch()" class="button" style="background-color: paleturquoise;">
                    ENABLE FETCH
                </div>
            </div>

            <div class="content-container" style="margin: 0">
                <div id="reset-button" onclick="startStopwatch()" class="button" style="background-color: paleturquoise;">
                    START TIME
                </div>

                <div id="stopwatch-flag" class="flag">OFF</div>

                <div id="reset-button" onclick="stopStopwatch()" class="button" style="background-color: lightpink;">
                    STOP TIME
                </div>
            </div>

            <div id="cycle-button" onclick="cycleMarkers()" class="button" style="background-color: palegoldenrod;">
                CYCLE
            </div>

        </div>
    </body>

    <script>
        let stopwatchTime = undefined;  // stopwatch time
        let score = undefined;  // user score
        let userId = undefined;  // user ID for logging
        let round = undefined;  // game round
        let penalties = undefined;  // user penalties

        fetch("/log?" + new URLSearchParams({"message": "opened admin page"}));

        // input the next USER ID
        function newUser() {
            // get the ID and send to the server, the user ID field here will update based on the server (to confirm commands went through)
            let _userId = prompt("Please enter the new user ID (if clicked accidentally, re-enter the old user ID)", "testuser");
            fetch("/set_user?user=" + _userId);
            // if the user ID has changed, reset the score (in case you accidentally click new user)
            if (_userId != userId) {
                fetch("/reset_score");  // resets the score and penalties
            }
            fetch("/log?" + new URLSearchParams({"message": "clicked new user: " + _userId}));
        }

        // reset the robot to the initial arm position
        function resetFetch() {
            console.log("Reset Fetch");
            fetch("/log?" + new URLSearchParams({message: "clicked reset"}));
            fetch("/control?action=reset")
        }

        // cycle through the markers
        function cycleMarkers() {
            console.log("Cycle Markers");
            fetch("/log?" + new URLSearchParams({"message": "clicked cycle"}));
            fetch("/control?action=cycle")
        }

        // unreset the robot
        function unresetFetch() {
            console.log("Unreset Fetch");
            fetch("/log?" + new URLSearchParams({message: "clicked unreset"}));
            fetch("/control?action=unreset")
        }

        // move to the next round
        function nextRound() {
            console.log("Moving to next round")
            if (round == 0) {
                fetch("/training_flag?flag=true")
            }
            fetch("/set_round?" + new URLSearchParams({round: "+"}))
        }

        // move to the previous round
        function prevRound() {
            console.log("Moving to previous round")
            fetch("/set_round?" + new URLSearchParams({round: "-"}))
        }

        // add a penalty
        function incPenalties() {
            console.log("Adding a user penalty")
            fetch("/set_penalties?" + new URLSearchParams({penalties: "+"}))
        }

        // remove a penalty
        function decPenalties() {
            console.log("Removing a user penalty")
            fetch("/set_penalties?" + new URLSearchParams({penalties: "-"}))
        }

        // start the stopwatch
        function startStopwatch() {
            console.log("Starting user timer");
            stopwatchTime = (new Date()).getTime();
            document.getElementById("stopwatch-flag").innerHTML = "ON";
            document.getElementById("stopwatch-flag").style.backgroundColor = "palegreen";
            fetch("/log?" + new URLSearchParams({"message": "started stopwatch"}));
        }

        // stop the stopwatch {
        function stopStopwatch() {
            console.log("Stopping user timer");
            stopwatchTime = (new Date()).getTime() - stopwatchTime;
            // update the score
            fetch("/add_score?score=" + (stopwatchTime / 1000));
            document.getElementById("stopwatch-flag").innerHTML = "OFF";
            document.getElementById("stopwatch-flag").style.backgroundColor = "palevioletred";
            fetch("/log?" + new URLSearchParams({"message": "stopped stopwatch"}));
        }

        // regularly pull all state data
        window.setInterval(() => {
            fetch("/get_data").then(response => response.json()).then((data) => {
                // fetch state
                state = data.state;  // set the global variable
                document.getElementById("state").innerHTML = "Fetch State: " + state;

                // user score
                score = round == 0 ? 0 : data.score + 20 * data.penalties;  // get the score
                document.getElementById("score").innerHTML = "Score: " + score;
    
                // penalties
                penalties = data.penalties;  // set the global variable
                document.getElementById("penalties").innerHTML = "Penalties: " + penalties;

                // game round
                round = data.round;  // set the global variable
                document.getElementById("round").innerHTML = "Round: " + round;

                // user ID
                userId = data.user_id;  // set the global variable
                document.getElementById("userId").innerHTML = "User: " + userId;

                // visible markers
                document.getElementById("markers").innerHTML = "Visible Markers: " + data.markers.length;

                // marker table
                marker_table = data.marker_table;
                processMarkerTable();

                // reset flag
                if (data.reset_flag == true) {
                    document.getElementById("reset-flag").style.backgroundColor = "palevioletred";
                    document.getElementById("reset-flag").innerHTML = "OFF";
                }
                else {
                    document.getElementById("reset-flag").style.backgroundColor = "palegreen";
                    document.getElementById("reset-flag").innerHTML = "ON";
                }
            });
        }, 250)

        // generates the marker table
        function generateMarkerTable() {
            let table = document.createElement("table")
            table.classList = "marker-table";

            for (let i=0; i<2; i++) {
                let tr = table.insertRow();
                for (let j=0; j<5; j++) {
                    td = tr.insertCell();
                    td.classList = "marker-table-cell";
                    td.id = "marker-table-cell-" + i + "-" + j;
                    td.innerHTML = "0"
                }
            }
            document.getElementById("marker-table").appendChild(table);
        }

        function processMarkerTable() {
            let counter = 0;
            let cell = undefined;
            for (let j=4; j>=0; j--) {
                for (let i=1; i>=0; i--) {                
                    cell = document.getElementById("marker-table-cell-" + i + "-" + j);
                    cell.innerHTML = marker_table[counter]
                    if (marker_table[counter] == 0) {
                        cell.classList = "marker-table-cell marker-table-cell-zero";
                    }
                    else {
                        cell.classList = "marker-table-cell marker-table-cell-filled";
                    }
                    counter++;
                }
            }
        }

        generateMarkerTable();
    </script>
</html>

